# Mengimport Library

In [1]:
import numpy as np
import pandas as pd

# Memasukkan Dataset

In [2]:
df = pd.read_csv("dogecoin.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2825 entries, 0 to 2824
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          2825 non-null   object
 1   price         2825 non-null   float64
 2   total_volume  2825 non-null   float64
 3   market_cap    2824 non-null   float64
 4   coin_name     2825 non-null   object
dtypes: float64(3), object(2)
memory usage: 110.5+ KB

# Mengubah nilai atribut bertipe angka menjadi desimal ke integer

In [4]:
df["total_volume"]=df["total_volume"].astype("int64")
df["total_volume"]

0          283845
1          363741
2          270052
3          353697
4          554935
          ...
2820    379475189
2821    235736292
2822    650660228
2823    895820729
2824    348169164
Name: total_volume, Length: 2825, dtype: int64

# Mengubah nilai atribut bertipe angka menjadi desimal

In [5]:
df["total_volume"]=df["total_volume"].astype("float64")/1000
df["total_volume"]

0          283.845
1          363.741
2          270.052
3          353.697
4          554.935
           ...
2820    379475.189
2821    235736.292
2822    650660.228
2823    895820.729
2824    348169.164
Name: total_volume, Length: 2825, dtype: float64

# Menyimpan dataset ke dalam file CSV hanya atribut angka

In [6]:
df[['price','total_volume','market_cap']].to_csv("hanya_data_angka.csv")

# Menampilkan Informasi yang dibutuhkan dengan memasukkan dataset ke dalam dictionary

In [7]:

dict = {}
dict["jumlah_record"]=len(df)
dict["nama_attribut"]=list(df.columns)
dict["jumlah_object"]=len(df.select_dtypes(include=["object"]).columns)
dict["jumlah_angka"]=len(df.select_dtypes(include=["int64","float"]).columns)
dict["jumlah_null"]=len(df.columns[df.isna().any()].tolist())
for i in dict:
    print(i, dict[i])

jumlah_record 2825
nama_attribut ['date', 'price', 'total_volume', 'market_cap', 'coin_name']
jumlah_object 2
jumlah_angka 3
jumlah_null 1

# Menampilkan 10 data pertama

In [8]:
df.head(10)

                      date     price  total_volume    market_cap coin_name
0  2015-01-01 00:00:00.000  0.000183       283.845  1.780332e+07  dogecoin
1  2015-01-02 00:00:00.000  0.000184       363.741  1.784733e+07  dogecoin
2  2015-01-03 00:00:00.000  0.000168       270.052  1.632320e+07  dogecoin
3  2015-01-04 00:00:00.000  0.000158       353.697  1.538501e+07  dogecoin
4  2015-01-05 00:00:00.000  0.000160       554.935  1.560247e+07  dogecoin
5  2015-01-06 00:00:00.000  0.000169       287.943  1.644846e+07  dogecoin
6  2015-01-07 00:00:00.000  0.000173       384.231  1.688983e+07  dogecoin
7  2015-01-08 00:00:00.000  0.000169       324.927  1.646815e+07  dogecoin
8  2015-01-09 00:00:00.000  0.000171       384.908  1.665552e+07  dogecoin
9  2015-01-10 00:00:00.000  0.000164       304.876  1.594742e+07  dogecoin

# Menampilkan 10 record pertama bertipe data angka

In [9]:
tipe_angka = df.select_dtypes(include=np.number) 
tipe_angka.head(10)

      price  total_volume    market_cap
0  0.000183       283.845  1.780332e+07
1  0.000184       363.741  1.784733e+07
2  0.000168       270.052  1.632320e+07
3  0.000158       353.697  1.538501e+07
4  0.000160       554.935  1.560247e+07
5  0.000169       287.943  1.644846e+07
6  0.000173       384.231  1.688983e+07
7  0.000169       324.927  1.646815e+07
8  0.000171       384.908  1.665552e+07
9  0.000164       304.876  1.594742e+07

# Menampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q1, Q3

In [11]:
df.describe()

             price  total_volume    market_cap
count  2825.000000  2.825000e+03  2.824000e+03
mean      0.037872  6.385365e+05  4.950490e+09
std       0.085096  2.775082e+06  1.113881e+10
min       0.000087  8.554000e+00  8.628938e+06
25%       0.000239  2.870420e+02  2.512644e+07
50%       0.002515  3.287635e+04  3.036863e+08
75%       0.005924  1.653173e+05  6.840578e+08
max       0.681842  5.096065e+07  8.879477e+10

# Menampilkan nilai korelasi

In [10]:
df.corr()

                 price  total_volume  market_cap
price         1.000000      0.635356    0.999942
total_volume  0.635356      1.000000    0.631980
market_cap    0.999942      0.631980    1.000000